@import '~bootstrap/scss/bootstrap';
$accent: #aeaeae;
$background: rgba(0, 0, 0, .4);
$body: #cceeff;
$focus: #000;
$form: #fefefe;
$shade: rgba(0, 0, 0, .1);
$title: #21337a;

// Mobile Nav Bar Styling...
a {
  color: $form;
  text-decoration: none;
}

li {
  font-size: 2vh;
  margin-bottom: 5px;
}

ul {
  list-style-type: none;
  padding: 5px;
}

nav {
  background-color: $title;
  list-style-type: none;
}

.hamburger {
  border-style: none;
  float: right;
  height: 3em;
  margin: 1em;
  width: 3em;
}

.ham-line {
  background-color: $title;
  border-radius: 15%;
  height: 5px;
  margin: 5px;
  width: 2em;
}

.mobilenav {
  display: none;
}

.mobilenav-open {
  background-color: $body;
}

.mobilenav-close {
  background-color: $title;
  color: $form;
  display: none;
  font-size: 2em;
  margin: 0;
  padding: 5px;
}

// Modal Syling...
.close {
  color: $accent;
  float: right;
  font-size: 3em;
  font-weight: bold;

  :focus,
  :hover {
    color: $focus;
    cursor: pointer;
    text-decoration: none;
  }
}

.form {
  text-align: center;
}

.modal {
  background-color: $background;
  display: block;
  height: 100%;
  left: 0;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.modal-content {
  background-color: $form;
  border: 1px solid $accent;
  box-shadow: 0 4px 8px 0 $shade;
  margin: 15% auto;
  padding: 20px;
  width: 20em;
}

.nav-link {
  color: $accent;
}

.datavisual-modalcontent {
  height: 80vh;
  width: 80vw;
}

// Page Styling...
body {
  background-color: $body;
}

h2 {
  color: $title;
}

.emoji {
  font-size: 5em;
}

.mood,
.need {
  display: flex;
  justify-content: center;
}

.submit {
  display: block;
  margin: auto;
}

.title-section {
  background-color: $title;
  color: $form;
  height: 40%;
  margin: 10vh auto 0;
  padding: 10%;
  text-align: center;
}

.hidden {
  display: none;
}

@media (min-width: 600px) {
  a {
    color: $title;
  }

  li {
    display: inline;
    padding: 1em;
  }

  ul {
    display: flex;
    float: right;
    justify-content: center;
  }

  .mobilenav {
    display: block;
  }

  .mobilenav-open,
  .mobilenav-close {
    display: none;
  }
}
